//Colors
$primary-color: #003580;
$secondary-color: #0071c2;
$white-color: #fff;
$black-color: black;
$search-gray: rgb(72, 72, 72);

//Fonts
$baseFont: "Quicksand", sans-serif;
$baseFontLight: 400;
$baseFontBold: 600;

//buttonStyles
@mixin ButtonStyle {
  font-family: $baseFont;
  font-weight: $baseFontBold;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 1.2rem;
}
