.featured {
  margin: 1rem auto;
  width: 100%;
  max-width: 1024px;




  .features {
    display: flex;
    justify-content: space-between;

    .featureContent {
      display: flex;
      align-items: center;

      gap: 0.8rem;

      .featureIcon {
        font-size: 2.5rem;
        color: #003580;
      }

      .featureText {
        p {
          color: #003580;
          width: 200px;
        }
      }
    }
  }

}