@import "../../constants/variables";

.navbar {
  height: 80px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;

  .navContainer {
    width: 100%;
    max-width: 1024px;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 1.3rem;
      font-weight: 500;
    }

    .navButton {
      margin-left: 1.1rem;
      @include ButtonStyle;
      color: $primary-color;

      &:hover {
        background-color: $secondary-color;
        color: $white-color;
        transition: 0.3s;
      }
    }
  }
}
