@import "../../constants/variables";

.navbar {
  height: 70px;
  padding: 0 2rem;
  background-color: $primary-color;
  display: flex;
  justify-content: center;

  .navContainer {
    width: 100%;

    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 1.3rem;
      font-weight: 500;
    }

    .navList {
      display: flex;
      align-items: center;
      gap: 4.5rem;
      list-style: none;

      .navListLink {
        color: white;
        font-size: 1.1rem;
        text-decoration: none;
        font-weight: $baseFontBold;

      }

    }

    .navButton {
      margin-left: 1.1rem;
      @include ButtonStyle;
      color: $primary-color;

      &:hover {
        background-color: $secondary-color;
        color: $white-color;
        transition: 0.3s;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .navContainer {
    padding: 0 0;
    max-width: 1200px;
  }
}