@import "../../constants/variables";

.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;

  h1 {
    font-size: 2.2rem;
  }

  .mailInputContainer {
    display: flex;
    align-items: center;

    input {
      font-family: $baseFont;
      width: 300px;

      padding: 1rem 2rem;
      border: none;
      margin-right: 10px;
      border-radius: 0.8rem;
      font-size: 1rem;
    }

  }

  .mailInputContainer {
    button {
      @include SecButtonStyle();
      background-color: rgb(232, 180, 11);
      color: rgb(26, 26, 26);
    }
  }
}